body{
    background-image:url(https://cdn.pixabay.com/photo/2016/10/27/22/52/apples-1776744_960_720.jpg);
  background-color: aqua;
  background-repeat: no-repeat;
  background-position: up;
  background-size: 100%;
  }
    textarea{
    color:rgb(199, 170, 62);
    font-weight: bold;
    background-color: #ffffff;
  }
  .heading {
    color: hsl(90, 4%, 71%);

    margin-bottom: 10px;
    padding: 10px;
    font-style: italic;
    font-weight: bold;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  .title {
    background-color: #e91515;
    padding: 5px;
    color: rgb(133, 132, 132);
    text-align: center;
    font-size: large;
  }
  .content {
    color:#161614;
    margin: 100px;
    text-align: center;
    font-size: bold;
    font-weight: 200;
    font-style: italic;
  }
  #subtitle {
    color: rgb(161, 21, 161);
    margin-left: 200px;
    text-align: center;
  }
  #showing {
    margin-left: 20px;
  }
  #food li::before {
    content: "";
  }
  .food {
    font-size: 20px;
    text-transform: uppercase;
  }
  .sold-out {
    color: lightgray;
  }
  img {
    max-width: 35vw;
  }
  #food-info {
    color:blue ;
    padding-bottom: 15px;
  }
  .container{
  display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    /* margin: auto; */
    font-size: 20px;
    /* flex: 2;
    width: 100%;
    padding: 20px; */
  }
  /* .button{
    background-color: orange;
  } */
  .list-card{
  display: flex;
  justify-content: space-around;
  }
  .food-item{
  background-color: #0F4735;
  padding: 8px;
  margin-bottom: 4px;
  list-style-type: none;
  cursor: pointer;
  font-style: oblique;
  text-align: center;
  }
  
  #place-order{
  background-color: rgb(12, 202, 231);
  }
  .cancel-order{
  background-color: rgb(67, 17, 192);
  }
  
  #submit{
    background-color: rgb(239, 157, 50);
    font-style: oblique;
    font-weight: bold;
  }
  #start{
  background-color:#ed1fa8;
  color: #FAFAFA;
  padding: 20px ;
  border-radius: 5x;
  border: none;
  margin-left: 80px;
  text-align: center;
  font-style: unset;
  
  }
  .logins{
  margin-right: 60%;
  background-color: hsl(130, 37%, 97%);
  /* background-color: blue; */
  }
  /* Add a black background color to the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #E9E9E9;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: blueviolet;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a.active {
    background-color:#21f344;
    color: rgb(226, 232, 221);
  }
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    color: rgb(0, 21, 128);
    background-color: black;
  }
    .topnav input[type=text] {
      border: 1px solid burlywood;
    }
    .search-bar{
      background-color: #0F4735;
      background-image: url(https://cdn.pixabay.com/photo/2016/04/15/08/04/strawberry-1330459__180.jpg);
      width: 10%;
      max-width: 200px;
      display: flex;
      padding: 2px;
      border-radius: 4px;
    
      
    }
    .search-bar{
      padding: 10px 17px;
      width: 20%;
      border: none;
      outline: none;
      font-size: 13px;
      font-weight: bold;
      font-style: inherit;
    }
  